.container-master-perfil{
    display: flex;
    justify-content: baseline;
    background-color: rgb(255, 245, 227);    width: auto;
    height: auto;
    min-height: 100vh;
}
.barra-lateral{
    width: auto;
    height: auto;
    background-color: grey;
    padding: 20px;
    border-bottom-right-radius: 24px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    line-height: 3.0em;
}

.icone_artista{
    border-radius:50%;
}

.logout{
    margin: 0;
    font-size: 30px;
    flex-direction: row;
    
}
.post_master{
    width: 110%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.post{
 
    margin-top: 50px;
   
   
}

.player {
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
    height: 320px;
    width: 480px;
  }
  .avatar {
  vertical-align: middle;
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
.soundbar{
    width: 400px;
    height: 100px;
    background-color: orange;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 24px;
    padding: 20px;
    
}
.play-icon{
    height: 200px;
    padding-top: 10px;
}

.text{
    
    width: 57%;
    width: 57%;
    height: auto;
    margin-top: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    line-height: 1.2;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(224, 159, 39);
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    border: solid rgb(46, 46, 46);  
 
    
}
.sugest_user{
    display: flex;
    background-color: gray;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
    width: 13%;
    height: 50%;
    margin-right: 3%;
    margin-top: 7%;
    border-radius: 24px;

}


.master-perfil{
    width: auto;
    height: auto;
    margin: 0 auto;
    background-color: rgb(241,239,165);
    
}
.router-text{
    color: black;
}